parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_array\\(\\) with Pimcore\\\\Config\\\\Config will always evaluate to false\\.$#"
			count: 1
			path: src/Services/PerspectiveAccessor.php
